Repository battlecode/battlecode21, pull requests merged in 2021-01, with the labels that each got.

#233 Draft update to src for Issue #14
  frontend/src/api.js
  frontend/src/views/submissions.js
Labels: backend, frontend

#266 Add option to hide indicators:
  engine/src/main/battlecode/server/Config.java
  engine/src/main/battlecode/server/GameMaker.java
  engine/src/main/battlecode/server/Server.java
  engine/src/test/battlecode/server/GameMakerTest.java
Labels: critical, engine

#287 Add maps and post-sprint change
  backend/settings.py
  client/visualizer/src/config.ts
  client/visualizer/src/constants.ts
  client/visualizer/src/sidebar/mapfilter.ts
  engine/src/main/battlecode/common/GameConstants.java
  engine/src/main/battlecode/world/GameWorld.java
  engine/src/main/battlecode/world/resources/Andromeda.map21
  engine/src/main/battlecode/world/resources/Arena.map21
  engine/src/main/battlecode/world/resources/Bog.map21
  engine/src/main/battlecode/world/resources/Branches.map21
  engine/src/main/battlecode/world/resources/Chevron.map21
  engine/src/main/battlecode/world/resources/Corridor.map21
  engine/src/main/battlecode/world/resources/Cow.map21
  engine/src/main/battlecode/world/resources/CrossStitch.map21
  engine/src/main/battlecode/world/resources/CrownJewels.map21
  engine/src/main/battlecode/world/resources/ExesAndOhs.map21
  engine/src/main/battlecode/world/resources/FiveOfHearts.map21
  engine/src/main/battlecode/world/resources/Gridlock.map21
  engine/src/main/battlecode/world/resources/Illusion.map21
  engine/src/main/battlecode/world/resources/NotAPuzzle.map21
  engine/src/main/battlecode/world/resources/Rainbow.map21
  engine/src/main/battlecode/world/resources/SlowMusic.map21
  engine/src/main/battlecode/world/resources/Snowflake.map21
  gradle.properties
  specs/specs.md.html
Labels: backend, client, engine

#316 Fix eligibility options, resolve #314
  backend/README.md
  backend/api/models.py
  backend/docs/ELIGIBILITY.md
  frontend/deploy.sh
  frontend/src/views/team.js
Labels: critical, frontend

#317 Show eligibility icons
  frontend/src/components/rankingTeamList.js
Labels: enhancement, frontend
